<%= turbo_stream.replace dom_id(learning_item) do %>
   <li id="<%= dom_id(learning_item) %>">
    <%= form_with model: learning_item,
                  url: learning_item_path(learning_item, status: params[:status]),
                  method: :patch,
                  local: true do |f| %>
      <%= f.text_field :name, value: learning_item.name %>
      <%= f.submit "更新" %>
      <%= link_to "キャンセル", learning_items_path(status: params[:status]), class: "btn btn-secondary btn-sm" %>
    <% end %>
  </li>
<% end %>