<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- preload 早めに -->
    <%= tag.link rel: "preload", href: asset_path("application.css"), as: "style" %>

    <!-- 本体のCSS・JS -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <!-- アイコンやマニフェストはその後 -->
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- 最後にビュー固有の追加head -->
    <%= yield :head %>
  </head>

  <body>
    <%= render "shared/header" %>

    <%= render "shared/flash" %>

    <%= yield %>
  </body>
</html>
